@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

// COLOR VARIABLES

$dark: hsl(217, 19%, 27%);
$darker: hsl(215, 28%, 17%);
$darkest: hsl(221, 39%, 13.5%);
$gray: hsl(220, 9%, 46%);
$light: hsl(0, 0%, 85%);
$pink: hsl(330, 81%, 60%);
$purple: hsl(258, 90%, 66%);
$otherpurple: hsl(132, 69%, 50%);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark;
  color: $light;
}

header {
  padding: 2rem 1rem;
  min-width: 33.625rem;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: $gray;
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
  margin-inline: 0.5rem;
  min-width: 33.625rem;
  max-width: 85vw;
}

@media screen and (max-width: 43rem) {
  #new-task-form {
    min-width: 22rem;
  }
}

@media screen and (max-width: 25rem) {
  #new-task-form {
    flex-direction: column;
    min-width: 18rem;
  }

  #new-task-submit {
    margin-top: 1.5rem;
  }
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background-color: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: $darker;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: $light;
  font-size: 1.25rem;

  &::placeholder {
    color: $gray;
  }
}

#new-task-submit {
  color: $pink;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, ($pink), ($purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    font-size: 1.35rem;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

/* Main styling */

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: $gray;
    margin-bottom: 1rem;
  }

  & button {
    background-color: transparent;
    cursor: pointer;
    color: $pink;
    transition: 0.4s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: $darkest;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text {
  color: $light;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
}

#tasks .task .content .text:not(:read-only) {
  color: $pink;
}

#tasks .task .actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  background-color: transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.task .actions .edit {
  color: $purple;
  background-image: linear-gradient(to right, $pink, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: crimson;
}
